# Builds
build/
build-release/
deploy/
out/

# Logs y config local de debug
debug.log
*.log

# IDE / editor
.vscode/
.idea/
CMakeLists.txt.user
*.autosave

# Qt Creator / CMake
CMakeUserPresets.json
compile_commands.json

# Sistema
Thumbs.db
Desktop.ini
